* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("../assets/images/hero/hero-1.webp") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 40px;
  color: white;
}

.hero-content {
  max-width: 500px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  background: #c49a6c;
  padding: 12px 24px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}